header{
    
    font-family: 'Times New Roman', Times, serif;   
    font-size: larger;
    width: 205px;
    height: fit-content;
    color: rgb(255, 255, 255);
    text-align: center;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 1%;
        padding-bottom: 1%; 
        padding-top: 8%;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    p {
        color: rgb(206, 206, 206);
        font-size: 20px;
    }
    
    
    a {
        color: rgb(233, 6, 6);
    }
    
    
    h2 {
        color: rgb(255, 255, 255);
        font-family: 'Times New Roman', Times, serif;
        font-size: 150%;
    }
    
    
    body {
        
        border-style: double;
    }
    a:hover {background-color: rgb(63, 54, 71);

    }
    
    .item1{
        
        height: fit-content;
        width: fit-content;
        text-align: left;
        color: rgb(255, 255, 255);
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 1%;
        padding-bottom: 1%; 
        padding-top: 1%;
        padding-left: 6%;
        
    }
    
 
    
    h3 {
        font-family: 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255);
        font-size: larger;
    }

    

    
    img{
        border-radius: 50%;
        border: 5px solid rgb(119, 0, 0);
    }
    
    Info{
        float: left;
        padding:20px;
        width:80%;

    }
    header{
        text-align: left;
        text-decoration-thickness: 30;
    }
    body{
        background-color: rgb(207, 207, 207);
    }
    .container{
       
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }
    
 
 
    .item2{
        padding-left: 9%;
        padding-right: 5%;
        
    }

 
    
    form{
        color: #ffffff;
        padding-bottom: 15%;
    }
    ul{
        color: #ffffff;
    }
    form{
        text-transform: uppercase;
        text-decoration-color: antiquewhite;
    }
    
    

 /* Small devices (portrait tablets and large phones, 650px and up) */
@media (min-width: 650px) {
    .body { background-image: url(../Images/body.jpg);
    font-family: monospace }
    img{
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
    .item1{font-size: larger;}
 } 
 @media (min-width: 0px) {
    body { background-image: url(../Images/last.jpg);
    font-family: monospace;
    font-size: small;
    }
    img{
        border-radius: 0%;
        width: 150px;
        height: 140px;
    }
    header{
        text-align: center;
    }
    .item1{
        font-size: x-large;
    }
 }    


  /* Small devices (portrait tablets and large phones, 650px and up) */
 @media (min-width: 650px) {
    body { background-image: url(../Images/body.jpg);
    font-family: monospace;
    font-size: large; }
    img{
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
   
 } 

     /* Large devices (laptops/desktops, 900px and up) */
@media (min-width: 900px) {
    .body { background-image: url(../Images/resume_background_img.jpg);
    font-family: monospace }
    img{
        border-radius: 50%;
        width: 250px;
        height: 320px;
 } 
    .item1{font-size: x-large;}
}
footer{
    padding-left: 3%;
    padding-right: 3%;
}
